/* Reset CSS */

* {
  margin: 0px;
  padding: 0px;
}

 /* Mobile first */
.titulo {
  font-size: 6px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Header logo */

.reciclaje {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 5px;
}

body {
  font-family: "Arimo", sans-serif;
}

/* Logo YPF */
.logoYPF {
  width: 50px;
  margin-top: 15px;
  margin-right: 20px;
}

/* Header principal */
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

/* Imagenes */
.imagen_portada {
  display: flex;
  justify-content:center;
  background-color: #83d370;
  width: 7%;
}

/* Titulos */

h1 {
  font-style: normal;
  margin-top: 6px;
  margin-left: 0px;
  font-family: "Arimo", sans-serif;
}

h2 {
  font-family: "Merriweather", serif;
  color: rgb(113, 181, 96);
  text-underline-offset: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
  vertical-align: middle;
  margin-left: 15px;
}

nav {
  background-color: rgba(62, 124, 23, 50);
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  height: 100%;
  align-items: center;
}

nav ul li {
  width: 100%;
  height: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li:hover {
  background-color: rgb(44, 96, 11);
  text-decoration: underline;
}

.menu_icono img {
  border-radius: 2px;
}

.menu_icono,
#check {
  display: none;
}

p,
ul {
  font-family: "Arimo", sans-serif;
}

.objetivos {
  margin-top: 20px;
  margin-left: 50px;
}

li {
  margin-top: 5px;
}

.textoparrafo {
  margin: 20px;
}

/* Menu de abajo */

.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.mainlink {
  color: #4e944f;
  text-decoration-line: none;
}

.tresiduo {
  text-align: center;
  font-family: "Merriweather", serif;
}

.gresiduo {
  text-align: center;
  font-family: "Merriweather", serif;
}

.rrr {
  text-align: center;
  font-family: "Merriweather", serif;
}

.rye {
  text-align: center;
  font-family: "Merriweather", serif;
}

.contenedor_img {
  overflow: hidden;
  align-items: center;
  padding-bottom: 10px;
}
  .contenedor_img img {
  width: 100%;
  height: 100%;
}

/* Recuadro Verde */

.recuadroverde{
  color: white;
  background-color: #83d370;
  font-weight: bold;
  padding: 2%;
  margin: 1%;
  border-radius: 15px;
}

/* Tipos */



.imgcontenedores {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

footer {
  text-align: center;
  font-size: 8px;
  background-color: #4e944f;
  box-shadow: 2px -2px 5px #73626e;
  margin-top: 5px;
  font-family: "Arimo", sans-serif;
  color: aliceblue;
}

/* Tablet */
@media (min-width:768px) {
  .titulo {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 6px;
  }

  h1 {
    margin-top: 6px;
    margin-left: 0px;
  }

  .reciclaje {
    width: 30px;
    height: 30px;
  }

  .logoYPF {
    width: 50px;
    margin-top: 15px;
    margin-right: 20px;
  }

  /* NavBar */
  nav {
    height: 30px;
    width: 100%;
  }

  nav ul li {
    height: 100%;
    width: 100%;
    font-size: 10px;
  }

  /* Portada */
  .imagen_portada {
    width: 715px;
  }

  /* Menu de abajo */

  .container {
    display: flex;
    margin: 50px;
    padding: 5px;
  }

  .contenedor_img img {
    width: 80%;
    height: 80%;
  }

  /* Footer */

  footer {
    font-size: 12px;
    margin-top: 10px;
  }
}

/* Desktop */
@media (min-width: 1024px) {

/* Header logo */

.reciclaje {
display: flex;
width: 70px;
height: 70px;
margin-right: 10px;
margin-left: 5px;
}

body {
font-family: "Arimo", sans-serif;
}

/* Logo YPF */
.logoYPF {
width: 100px;
margin: 25px;
}

/* Header principal */
header {
display: flex;
justify-content: space-between;
padding: 0px 10px 0px 10px;
}

/* Imagenes */
.imagen_portada {
display: flex;
justify-content: center;
background-color: #83d370;
}

/* Titulos */

h1 {
margin-top: 30px;
margin-left: 2px;
}


nav {
height: 50px;
}


/* Menu de abajo */

.contenedor_img img {
width: 100%;
height: 100%;
}

}

/* @media (max-width: NUMEROpx) and (max-width:numeropx){    …  }

@media (min-width: NUMEROpx) and (max-width:numeropx){    …  } */

