/* Reset CSS */

* {
  margin: 0px;
  padding: 0px;
}

 /* MOBILE FIRST */
.titulo {
  font-size: 6px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Header logo */

.reciclaje {
  display: flex;
  width: 20%;
}

body {
  font-family: "Arimo", sans-serif;
}

/* Logo YPF */
.logoYPF {
  width: 90%;
}

/* Header principal */
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

/* Imagen Portada */
.imagen_portada {
  display: flex;
  justify-content:center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Titulos */

h1 {
  font-style: normal;
  font-family: "Arimo", sans-serif;
  margin-block-start: 1.5em;
  margin-left: 2%;
}

h2 {
  font-family: "Merriweather", serif;
  color: rgb(113, 181, 96);
  text-underline-offset: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
  vertical-align: middle;
  margin-left: 15px;
}

nav {
  background-color: rgba(62, 124, 23, 50);
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}

nav ul li {
  width: 100%;
  height: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li:hover {
  background-color: rgb(44, 96, 11);
  text-decoration: underline;
}

nav li {
  max-width: max-content;
}

.menu_icono img {
  border-radius: 2px;
}

.menu_icono,
#check {
  display: none;
}

p,
ul {
  font-family: "Arimo", sans-serif;
}

ul{
  margin: 5% 10%;
  list-style-type: disc;
}

li{
  padding: 5px;
}

.textoparrafo {
  margin: 20px;

}

/* Menu de abajo en index */

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.mainlink {
  color: #4e944f;
  text-decoration-line: none;
}

.tresiduo, .gresiduo, .rrr, .rye {
  text-align: center;
  font-family: "Merriweather", serif;
}

.contenedor_img {
  overflow: hidden;
  align-items: center;
  padding-bottom: 10px;
  text-align: center;
}
  .contenedor_img img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

/* Recuadro Verde */

.recuadroverde{
  color: white;
  background-color: #83d370;
  font-weight: bold;
  padding: 2%;
  margin: 3%;
}



/* Imagenes en todas las páginas */

.imgsPagina{
  width: 70%;
  display: block;
  margin: 0 auto;
}

/* excepto en Tipos */

.imgcontenedores {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Recuadro 3R */

.recuadro3r{
  background-color: #f0563bbc;
  padding: 2%;
  margin: 1%;
  border-radius: 15px;
  border: 2px solid #f0563b;
}

#Reutilizar{
  background-color: #f09f3bbc;
  border: 2px solid #f09f3b;
}

#Reciclar{
  background-color: #f0e73bbc;
  border: 2px solid #f0e73b;
}

h3{
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}


/* Footer */

footer{
  text-align: center;
  font-size: 8px;
  background-color: #4e944f;
  padding: 2px;
  font-family: "Arimo", sans-serif;
  color: aliceblue;
  border-top: 4px solid #83d370;
}

/* TABLET */
@media (min-width:768px) {
  .titulo {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 6px;
  }

  h1 {
    margin-top: 10px;
    margin-left: 5px;
  }

  .reciclaje {
    width: 30px;
    height: 30px;
  }

  .logoYPF {
    width: 50px;
    margin-top: 8px;
    margin-right: 20px;
  }

  /* NavBar */
  nav {
    height: 40px;
    width: 100%;
  }

  nav ul li {
    height: 100%;
    width: 100%;
    font-size: 10px;
    padding-bottom: 35px;
  }
  
  /* Portada */
  .imagen_portada {
    width: 768px;
  }

  /* Menu de abajo */

  .container {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 5px;
  }

  .contenedor_img img {
    width: 80%;
    height: 80%;
  }

  .imgsPagina{
    width: 30%;
    display: block;
    margin: 0 auto;
  }

  /* Footer */

  footer {
    font-size: 12px;
    margin-top: 10px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {

  .titulo {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 6px;
  }

/* Header logo */

.reciclaje {
display: flex;
width: 70px;
height: 70px;
margin-right: 10px;
margin-left: 5px;
}

body {
font-family: "Arimo", sans-serif;
}

/* Logo YPF */
.logoYPF {
width: 100px;
margin-top: 5px;
}

/* Header principal */
header {
display: flex;
justify-content: space-between;
padding: 0px 10px 0px 10px;
}

/* Imagenes */
.imagen_portada {
display: flex;
justify-content: center;
width: 1024px;
background-color: #83d370;
}

/* Titulos */

h1 {
margin-top: 5px;
margin-left: 2px;
margin-block-start: 2em;
}


nav {
height: 50px;
}

nav ul li {
  padding-bottom: 50px;
  font-size: 15px;
}

/* Menu de abajo */

.contenedor_img img {
width: 100%;
height: 100%;
}

}


