/* Reset CSS */

*{
  margin: 0px;
  padding: 0px;
}

/* Mobile First */

@media (min-width: 425px){
  
.titulo{
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Header logo */

.reciclaje , .ypf{
  display: grid;
  width: 20%;
  margin-right: 10px;
  margin-left: 5px;
  padding: 0px 10px 0px 10px;
}

body{
  font-family: 'Arimo', sans-serif;  
}


/* Titulos */

h2{
  font-family: 'Merriweather', serif;
  color: rgb(113, 181, 96);
  text-underline-offset: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
  vertical-align: middle;
  margin-left: 15px;

}



/* Barra de navegacion */
/* .menu{
  background-color: rgba(62, 124, 23, 50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a{
  text-decoration: none;
  color: aliceblue;
}

.menu li{
      margin-right: 30px;
}

.menu ul{
  
      list-style-type: none;
      margin: 15px;
      padding: 0;
      display: flex;
      justify-content: center;
} */

nav{
background-color: rgba(62, 124, 23, 50);
display: flex;
/* padding: 20px 0px 20px 0px; */
justify-content: center;
height: 50px;

}

nav ul{
display: flex;
list-style: none;
gap: 20px;
height: 100%;
align-items: center;

}

nav ul li{
height: 100%;
display: flex;
align-items: center;
padding: 0px 10px;
}

nav ul li a{
text-decoration: none;
color: white;
}

nav ul li:hover{
background-color: rgb(44, 96, 11);
text-decoration: underline;
}

.menu_icono img{
border-radius: 2px;
}

.menu_icono, #check{
display: none;
}



p,ul{
  font-family: 'Arimo', sans-serif;
}


.objetivos{
  margin-top: 20px;
  margin-left: 50px;
}

li{
  margin-top: 5px;
}


.textoindex{
  margin: 20px;
}


/* Menu de abajo */

.container{
  display: flex;
  padding: 10px;
  /* text-align: center; */
  justify-content: space-between;

}

/* .arreglotexto{
  text-align: center;
  padding-right: -50px;
} */

.item {
 width: 70%;
display:table;
}


.mainlink{
  color: #4E944F;
  text-decoration-line: none;
}

.tresiduo{
  text-align: center;
  font-family: 'Merriweather', serif;
}

.gresiduo{
  text-align: center;
  font-family: 'Merriweather', serif;
}
.rrr{
  text-align: center;
  font-family: 'Merriweather', serif;
}
.rye{
  text-align: center;
  font-family: 'Merriweather', serif;
}

.contenedor_img{
width: 300px;
height: 275px;
overflow: hidden;
}
.contenedor_img img{
width: 100%;
height: 100%;
object-fit: fill;
}

.box{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
color: #4E944F;
}


/* Tipos */

.introtipos{
  padding-left: 5%;
}

.imgcontenedores{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

footer{
  text-align: center;
  font-size: 14px;
  background-color: #4E944F;
  box-shadow: 2px -2px 5px #73626e;
  margin-top: 80px;
  font-family: 'Arimo', sans-serif; 
  color: aliceblue;   
}

}